.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  height: 40px; 
}

.left-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.link:hover {
  color: #4e9e57;
}

.logout-btn {
  position: absolute;
  right: 20px;
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  top: 50%; 
  transform: translateY(-50%);
}

.logout-btn:hover {
  background-color: #c0392b;
}
